/* Main Body */
body { 
  background-color: rgba(24, 41, 68, 0.534);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-color: #f4f4f4;
}
.jumbotron {
  background-color: #d9edf7
}
.alert-info {
  color: #31708f;
   background-color: white;
  border-color: white;
}
p {
  margin: 0px 0px 13px;
  padding: 5px 0px 5px 11px;
  background-color: #31708f;
  color: white;
  border-radius: 5px;
}
#wrapper {
  color: #31708f;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#moreArticles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

/* Modal Construct */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.5);
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.5);
}
.modal-text {
  font-size: 4rem;
}
.modal-content{
    background-color: #f4f4f4;
    text-align: center;
    margin: 20%;
    padding: 20px;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgb(0,0,0,0.2),00 7px 20px 0 rgb(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{ opacity: 0}
    to { opacity: 1}
}

/* Scrape Display */
#articles {
  display: none;
}
#moreArticles {
  display: none;
}
#notes {
  display: none;
}

/* Notes */
